/*------------------------------*Principal*--------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: url();
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

nav a {
  font-size: 25px;
  color: rgb(196, 201, 184);
  margin: 20px;
  border: 1px solid rgb(99, 90, 180); /* Borde del botón */
  border-radius: 5px; /* Borde redondeado */
  display: inline-block; /* Hacer que los botones sean elementos en línea */
}

nav a:hover {
  background-color: rgb(46, 188, 231);
  color: #fff;
}
.contenedor-header {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(70,121,159,1) 75%, rgba(29,0,255,1) 86%);
  color: white;
  padding: 20px;
  text-align: center;
}

.proyecto {
  display: flex;
  justify-content: center; /*Para centrar el contenido*/
}
.columna {
  float: left;
  width: 30%; /*Ancho de la columna*/
  padding: 15px;
  margin: 2%;
  border: solid #4caf50;
  border-width: thin medium thick;
  background: #fff;
  border-radius: 8px;
  box-shadow: -6px -7px 9px rgba(0, 0, 0, 0.5);
}
.columna p{
  color: #000;
}
.principal {
  margin: auto;
  max-width: 1200px;
}

.principal h1 {
  text-transform: uppercase;
  text-align: center;
}

.principal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#copyright {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
}

/*-----------------------*Fomulario de Contacto*----------------------*/

.contenedorgeneral{
  display: flex;
  padding: 1rem 5rem 1rem 5rem;
  background: rgb(100 100 100 / 59%);
  flex-direction: column;
}

.contenedorgeneral h1{
  margin: 0 auto;
}
form{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 40rem;
  margin: 0 auto;
  gap: 1rem;
}

.contenedorgeneral form textarea{
  width: 634px;
  height: 126px;
}
.contenedorgeneral form button{
  background-color: #484d96;
  display: flex;
  justify-content: center;
  width: 5rem;
  border: solid 3px #35325a;
  margin: 0 auto;
}

.contenedorgeneral form button:hover{
  background-color: #618f67;
  border-color:#416e47;
}
.error{
  border: 1px solid red;
}
#errorInput{
  border: 1px solid red;
  padding: 5px;
  display: none;
}
#errorInput p{
  color: red;
}



/*------------Articulo--------------*/
.cont{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}
.cont img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.cont h1, .cont h2, .cont h3,.cont p{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.cont h1{
  color: #e47b7b;
}

/*---------------------*Contenido del Carrusel*----------------------*/
.carrusel {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
.carrusel-items {
 display: flex;
 transition: transform .1s ease-in-out;
}
.carrusel-item {
flex: 0 0 100%;
text-align: center;
}

.carrusel-item img{
max-width: 100%;
height: auto;
transition: opacity 1s ease-in-out;
}

.carrusel-buttons{
text-align: center;
margin-top: 0px;
}
.carrusel-button{
background-color: #007bff;
color: #fff2f2;
border: none;
padding: 10px 20px; /*tamaño del alto y el ancho*/
border-radius: 5px; /*lo que le da el redondel*/
cursor: pointer;
font-size: 18px;
margin: 0 10px;
}



