/*------------------------------*Principal*--------------------------*/
.contenedor-header {
    background: url(../alanpeninorey.github.io/images/fondo.jpg) no-repeat center top;
}
.columna {
    float: left;
    width: 30%; /*Ancho de la columna*/
    padding:15px ;
    margin :2%;
    border: solid #4CAF50;
    border-width: thin medium thick;
    background:#FFF;
    border-radius:8px;
    box-shadow:-6px -7px 9px rgba(0,0,0,.5);
}


/*-----------------------*Fomulario de Contacto*----------------------*/
.contenedor-header {
}
.cont {
}
.carrusel {
}
.carrusel-items {
}
.carrusel-item {
}
.anterior {
}
.siguiente {
}

/*-------------------------------*Contacto*-------------------------*/
.contenedor-header {
}
.contact-box {
}

/*---------------------*Contenido del Carrusel*----------------------*/
