/*------------------------------*Principal*--------------------------*/

body{
    background: url(images/fondo2.jpg);
    background-size: cover;
}

nav a{
    font-size: 25px;
    color: rgb(82, 109, 7);
    margin: 20px;
    border: 1px solid rgb(106, 138, 18); /* Borde del botón */
    border-radius: 5px; /* Borde redondeado */
    display: inline-block; /* Hacer que los botones sean elementos en línea */
}

nav a:hover {
    background-color: rgb(106, 138, 18);
    color: #fff;
}
.contenedor-header {
    background-color: #dfcdcd;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.proyecto{
    display: flex;
    justify-content: center; /*Para centrar el contenido*/
}
.columna {
    float: left;
    width: 30%; /*Ancho de la columna*/
    padding:15px ;
    margin :2%;
    border: solid #4CAF50;
    border-width: thin medium thick;
    background:#FFF;
    border-radius:8px;
    box-shadow:-6px -7px 9px rgba(0,0,0,.5);
    
}
.principal {
    margin: auto;
    max-width: 1200px;
}

.principal h1{
    text-transform: uppercase;
    text-align: center;
}

.principal img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*-----------------------*Fomulario de Contacto*----------------------*/
.contenedor-header {

}
.cont {
}


/*-------------------------------*Contacto*-------------------------*/
.contenedor-header {
}
.contact-box {
}

/*---------------------*Contenido del Carrusel*----------------------*/
.carrusel {
}
.carrusel-items {
}
.carrusel-item {
}
.anterior {
}
.siguiente {
}